WebClient/WebClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetJsonRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonRates" />
  </wsdl:message>
  <wsdl:message name="IService_GetJsonRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetJsonOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonOrders" />
  </wsdl:message>
  <wsdl:message name="IService_GetJsonOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTip_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTip" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTip_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTipResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetJsonRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetJsonRates" message="tns:IService_GetJsonRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetJsonRatesResponse" message="tns:IService_GetJsonRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsonOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetJsonOrders" message="tns:IService_GetJsonOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetJsonOrdersResponse" message="tns:IService_GetJsonOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateTip" message="tns:IService_CalculateTip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateTipResponse" message="tns:IService_CalculateTip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJsonRates">
      <soap:operation soapAction="http://tempuri.org/IService/GetJsonRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsonOrders">
      <soap:operation soapAction="http://tempuri.org/IService/GetJsonOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTip">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateTip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SupersonicTipCalculatorService/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>